In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import random
import os 

# from pyspark
from pyspark.sql import SparkSession
from pyspark.ml import Pipeline
from pyspark.sql.functions import mean,col,split, regexp_extract, when, lit
from pyspark.ml.feature import StringIndexer, VectorAssembler
from pyspark.ml.evaluation import MulticlassClassificationEvaluator
from pyspark.ml.feature import QuantileDiscretizer

In [10]:
spark = SparkSession.builder.master('local[4]').appName('recommeder_system').config('hello','world').enableHiveSupport().getOrCreate()

In [14]:
# adding and retrieving configuration to the spark session 
print(spark.conf.get("hello"))
spark.conf.set("world",'hello')
print(spark.conf.get("world"))

world
hello

In [37]:
SparkSession.getActiveSession()

In [38]:
spark.version

'3.3.0'

In [44]:
# converting Pyspark RDD to DataFrame
# import pyspark
# from pyspark.sql import SparkSession

# spark = SparkSession.builder.appName('SparkByExamples.com').getOrCreate()

# dept = [("Finance",10),("Marketing",20),("Sales",30),("IT",40)]
# rdd = spark.sparkContext.parallelize(dept)

# df = rdd.toDF()
# df.printSchema()
# df.show(truncate=False)

# deptColumns = ["dept_name","dept_id"]
# df2 = rdd.toDF(deptColumns)
# df2.printSchema()
# df2.show(truncate=False)

# deptDF = spark.createDataFrame(rdd, schema = deptColumns)
# deptDF.printSchema()
# deptDF.show(truncate=False)

# from pyspark.sql.types import StructType,StructField, StringType
# deptSchema = StructType([       
#     StructField('dept_name', StringType(), True),
#     StructField('dept_id', StringType(), True)
# ])

# deptDF1 = spark.createDataFrame(rdd, schema = deptSchema)
# deptDF1.printSchema()
# deptDF1.show(truncate=False)

In [50]:
people = spark.createDataFrame([
    {"deptId": 1, "age": 40, "name": "Hyukjin Kwon", "gender": "M", "salary": 50},
    {"deptId": 1, "age": 50, "name": "Takuya Ueshin", "gender": "M", "salary": 100},
    {"deptId": 2, "age": 60, "name": "Xinrong Meng", "gender": "F", "salary": 150},
    {"deptId": 3, "age": 20, "name": "Haejoon Lee", "gender": "M", "salary": 200}
])

In [52]:
df = people.age
df.show()

TypeError: 'Column' object is not callable

In [60]:
spark.sql("show databases").show()

+---------+
|namespace|
+---------+
|  default|
+---------+

In [61]:
df = spark.read.csv('C:\\Users\\chaturvedi_v\\Downloads\\movie_ratings_df\\movie_ratings_df.csv',inferSchema=True,header=True)
df.show(100)

+------+------------+------+
|userId|       title|rating|
+------+------------+------+
|   196|Kolya (1996)|     3|
|    63|Kolya (1996)|     3|
|   226|Kolya (1996)|     5|
|   154|Kolya (1996)|     3|
|   306|Kolya (1996)|     5|
|   296|Kolya (1996)|     4|
|    34|Kolya (1996)|     5|
|   271|Kolya (1996)|     4|
|   201|Kolya (1996)|     4|
|   209|Kolya (1996)|     4|
|    35|Kolya (1996)|     2|
|   354|Kolya (1996)|     5|
|   199|Kolya (1996)|     5|
|   113|Kolya (1996)|     2|
|     1|Kolya (1996)|     5|
|   173|Kolya (1996)|     5|
|   360|Kolya (1996)|     4|
|   234|Kolya (1996)|     4|
|    14|Kolya (1996)|     4|
|   309|Kolya (1996)|     4|
|   331|Kolya (1996)|     4|
|    21|Kolya (1996)|     3|
|   111|Kolya (1996)|     4|
|   439|Kolya (1996)|     5|
|   355|Kolya (1996)|     4|
|   204|Kolya (1996)|     5|
|   145|Kolya (1996)|     5|
|    30|Kolya (1996)|     5|
|   463|Kolya (1996)|     2|
|   144|Kolya (1996)|     4|
|   417|Kolya (1996)|     3|
|     2|Kolya (1996)|     5|
|   497|Kolya (1996)|     1|
|   523|Kolya (1996)|     5|
|    12|Kolya (1996)|     5|
|   202|Kolya (1996)|     3|
|   131|Kolya (1996)|     5|
|   451|Kolya (1996)|     1|
|   532|Kolya (1996)|     4|
|   539|Kolya (1996)|     5|
|   537|Kolya (1996)|     3|
|   416|Kolya (1996)|     4|
|   566|Kolya (1996)|     5|
|   597|Kolya (1996)|     4|
|   181|Kolya (1996)|     1|
|   639|Kolya (1996)|     4|
|   123|Kolya (1996)|     5|
|   520|Kolya (1996)|     5|
|   617|Kolya (1996)|     3|
|    86|Kolya (1996)|     4|
|   624|Kolya (1996)|     4|
|     9|Kolya (1996)|     4|
|   651|Kolya (1996)|     5|
|   492|Kolya (1996)|     5|
|   207|Kolya (1996)|     4|
|   460|Kolya (1996)|     4|
|   697|Kolya (1996)|     5|
|   129|Kolya (1996)|     4|
|    40|Kolya (1996)|     4|
|   740|Kolya (1996)|     4|
|   239|Kolya (1996)|     5|
|   794|Kolya (1996)|     5|
|   461|Kolya (1996)|     3|
|   771|Kolya (1996)|     4|
|   733|Kolya (1996)|     4|
|   568|Kolya (1996)|     4|
|   673|Kolya (1996)|     4|
|   249|Kolya (1996)|     5|
|     6|Kolya (1996)|     4|
|   205|Kolya (1996)|     4|
|   592|Kolya (1996)|     5|
|   440|Kolya (1996)|     5|
|   641|Kolya (1996)|     5|
|   765|Kolya (1996)|     5|
|   139|Kolya (1996)|     3|
|   628|Kolya (1996)|     5|
|   473|Kolya (1996)|     3|
|   695|Kolya (1996)|     5|
|   206|Kolya (1996)|     3|
|   863|Kolya (1996)|     4|
|    90|Kolya (1996)|     4|
|   594|Kolya (1996)|     4|
|   866|Kolya (1996)|     3|
|   803|Kolya (1996)|     5|
|   240|Kolya (1996)|     5|
|   753|Kolya (1996)|     4|
|   735|Kolya (1996)|     5|
|   869|Kolya (1996)|     2|
|   655|Kolya (1996)|     4|
|    18|Kolya (1996)|     5|
|   898|Kolya (1996)|     4|
|   937|Kolya (1996)|     3|
|   767|Kolya (1996)|     4|
|   533|Kolya (1996)|     4|
|   680|Kolya (1996)|     4|
|   485|Kolya (1996)|     5|
|   574|Kolya (1996)|     5|
|   758|Kolya (1996)|     3|
|   486|Kolya (1996)|     4|
|    13|Kolya (1996)|     2|
+------+------------+------+
only showing top 100 rows

In [63]:
pdf = df.limit(100).toPandas()
pdf

    userId         title  rating
0      196  Kolya (1996)       3
1       63  Kolya (1996)       3
2      226  Kolya (1996)       5
3      154  Kolya (1996)       3
4      306  Kolya (1996)       5
..     ...           ...     ...
95     485  Kolya (1996)       5
96     574  Kolya (1996)       5
97     758  Kolya (1996)       3
98     486  Kolya (1996)       4
99      13  Kolya (1996)       2

[100 rows x 3 columns]

In [44]:
# bitwise operation to check whether a number is even or odd

num = int(input("Enter an integer"))
if (num == 0):
    print("it is not even odd or even ")
elif (num&1):
    print("it is a odd number")
else:
    print("iit is even number")

Enter an integer0
it is not even odd or even

In [47]:
num1 =5
num2 = 3
print(~num1)

-6

In [57]:

spark.stop()